.contentpusher {
    width: 0;
    height: 0;
}

.mainContainer{
    display: grid;
    height: 300vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas:
    "hero hero"
    "textSection-1 textSection-1"
    "photoBox textSection-2"; 
}

.hero{
    grid-area: hero;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

video{
    position: absolute;
    min-height: 100%;
    min-width:100%;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero h1{
    font-size: 2vw;
    z-index: 99;
    color: white;
}

span{
    color: #FF8B3D;
}

.textSection-1{
    grid-area: textSection-1;
    padding: 20vh;
    line-height: 4vh;
    display: grid;
    column-gap: 8vw;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
    grid-template-areas:
    "textbox1 textbox2 textbox3"; 
}

.textbox1{
    grid-area: textbox1;
}

.textbox2{
    grid-area: textbox2;
}

.textbox3{
	grid-area: textbox3;	
}

.photoBox{
    grid-area: photoBox;
    background-image: url(../img/working2.jpeg);
    background-size: cover;
    background-size: 50%; 
    background-attachment:fixed;
    background-repeat: no-repeat;
}

.textSection-2{
    grid-area: textSection-2;
    background-color: #2E3237;
    color: white;
    vertical-align: center;
    padding: 20vh 5vw;
    line-height: 4vh;
}


@media screen and (max-width:1024px){

    .mainContainer{
        height: 400vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        grid-template-areas:
        "hero"
        "textSection-1"
        "photoBox"
        "textSection-2"; 
    }

    .textSection-1{    
        padding: 10vh 12vw 5vh 12vw;
        line-height: 3vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas:
        "textbox1" "textbox2" "textbox3"; 
    }

    .photoBox{
        background-size: 100%;
        width: 100%;
    }
    
    .hero h1{
        font-size: 3vw;
    }

  
    .textSection-2{
        padding: 28vh 12vw 8vh 12vw;
        line-height: 3.5vh;
    }

}

@media  screen and (max-width:960px){

    .hero h1{
        font-size: 3vw;
    }

}

@media screen and (max-width:768px){

    .hero h1{
        font-size: 4vw;
    }

    .textSection-1{
        padding: 10vw;
        align-items: center;
        line-height: 3.5vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas:
        "textbox1" 
        "textbox2" 
        "textbox3"; 
    }

    .photoBox{
        background-size: 100%;
        width: 100%;
    }
  
    .textSection-2{
        padding: 18vh 10vw;
        line-height: 3.5vh;
    }

}

@media  screen and (max-width:375px){

    .hero h1{
        font-size: 5.5vw;
        text-align: center;
    }

    .photoBox{
        background-attachment: scroll;
        background-size: cover;
    }

    .textSection-1{
        line-height: 4vh;
    }

    .textSection-2{
        padding: 13vh 10vw;
        line-height: 4vh;
    }

    .mainContainer{
        height: 650vh;
    }
 }