main * {
    box-sizing: border-box;
}
/* main {
    width: 100vw;
} */
section {
    margin: 0 0;
    width: 100vw;
    max-width: 100%;
}
h1, p {
    color: var(--lightcolor);
}
/* h1, .regular-p {
    margin-left: calc(5vw + 0.4vw);
    margin-right: calc(5vw + 0.4vw);
}
.regular-p {
    margin-bottom: 150px;
} */
@keyframes smoothbg {
    100%    {   background-color: var(--darkcolor);   }
}
#section-gallery {
    animation-name: smoothbg;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* FLEXCONTAINER */

@keyframes loadeffect {
    0%      {filter: opacity(0%);}
    30%     {filter: opacity(0%);}
    100%    {filter: opacity(100%)}
}
.case-gallery-container {
    display: flex;
    width: 100vw;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0.2vw 0;
    animation-name: loadeffect;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* INTROTEXT */
.introtext {
    flex: 25%;
    max-width: 25%;
    padding: 0.2vw 0.4vw;
    width: 100%;
    text-align: start;
    border-radius: 2%;
}
.whitepixel {
    width: 100%;
    filter: opacity(0%);
    border-radius: 2%;
    border-bottom: 4px solid var(--accentcolor);
}
.introposition {
    position: relative;
}
.introcontent {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    z-index: 1;
    margin: auto;
    width: 100%;
}

/* CASES, EXAMPLES OF CUSTOMERS CREATIONS */

.cases {
    flex: 25%;
    max-width: 25%;
    padding: 0.0vw 0.0vw;
    width: 100%;
    text-align: center;
    border-radius: 2%;
}
/* @keyframes focustounfocus {
    100%    {filter: grayscale(20%) blur(1px) opacity(70%);}
} */
.cases:not(.review) {
    animation-name: focustounfocus;
    animation-delay: 0s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.cases img {
    width: 100%;
    height: 100%;
    /* border-bottom: 4px solid var(--accentcolor);
    border-radius: 2%;
    background-color: var(--lightcolor); */
}
.cases button, span {
    display: none;
}
.casetext {
    position: absolute;
    bottom: 1.6vw;
    right: 0;
    padding-right: 2em;
    padding-left: 1em;
    background-color: white;
}
.casetext h3 {
    margin: 0;
    background-color: white;
}
@keyframes casecard {
    100%    {   z-index: 2;
                border: 1px solid var(--lightcolor);
                /* transform: scale(1.01); */
                /* box-shadow: 0px 2px 6px var(--accentcolor); */
                /* padding-top: 1px;
                padding-right: 1px;
                padding-left: 1px;
                border-bottom: 4px solid var(--lightcolor); */   
            }
}
.cases img:hover:not(.review) {
    animation-name: casecard;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes casecarddivreset {
    100%    {   filter: grayscale(0%) blur(0px) opacity(100%);    }
}
.cases:hover:not(.review) {
    animation-name: casecarddivreset;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

/* CUSTOMER REVIEWS */

.review {
    flex: 25%;
    max-width: 25%;
    padding: 0.2vw 0.4vw;
    width: 100%;
    text-align: center;
    border-radius: 2%;
}
.whitepixel {
    width: 100%;
    filter: opacity(0%);
    border-radius: 2%;
    border-bottom: 4px solid var(--accentcolor);
}
.reviewposition {
    position: relative;
}
.reviewcontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: auto;
    width: 94%;
}
.review img:not(.whitepixel) {
    border-radius: 50%;
    width: 40%;
}
.review p {
    font-style: italic;
    margin-top: 0.6vw;
    margin-bottom: 0;
}

/* VIEW CASE LARGE ON CLICK */

.viewcase {
    flex: 100%;
    max-width: 100%;
    filter: grayscale(0%) blur(0px) opacity(100%);
}
.viewcase img {
    width: 100%;
    border-bottom: 4px solid var(--accentcolor);
    border-radius: 2%;
    border-top: 1px solid var(--lightcolor);
    border-right: 1px solid var(--lightcolor);
    border-left: 1px solid var(--lightcolor);
}
.viewcase span {
    display: inline;
}
.viewcase button {
    display: inline-block;
    position: absolute;
    right: 0.6vw;
    top: 0.6vw;
}

/* RESPONSIVENESS */

@media screen and (min-width: 960px) and (max-width: 1300px) {
    .cases {
        flex: 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .review {
        flex: 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .introtext {
        flex: 33.3333333333%;
        max-width: 33.3333333333%;
    }
}
@media screen and (min-width: 768px) and (max-width: 960px) {
    .cases {
        flex: 50%;
        max-width: 50%;
    }
    .review {
        flex: 50%;
        max-width: 50%;
    }
    .introtext {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .cases {
        flex: 100%;
        max-width: 100%;
    }
    .review {
        flex: 100%;
        max-width: 100%;
    }
    .introtext {
        flex: 100%;
        max-width: 100%;
    }
}