main * {
    box-sizing: border-box;
}
@keyframes loadeffect {
    0%      {filter: opacity(0%);}
    100%    {filter: opacity(100%)}
}
.case-gallery-container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    padding: 0.6vw 0.6vw;
    animation-name: loadeffect;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.cases {
    flex: 25%;
    max-width: 25%;
    height: 62.5%;
    padding: 0.6vw;
    width: 100%;
    text-align: center;
    border-radius: 2%;
}
.cases:not(.review) {
    filter: grayscale(20%) blur(1px) opacity(70%);
}
.cases img {
    width: 100%;
    border: 1px solid var(--lightcolor);
    border-radius: 2%;
}
.casetext {
    position: absolute;
    bottom: 1.6vw;
    right: 0;
    padding-right: 2em;
    padding-left: 1em;
    background-color: white;
}
.casetext h3 {
    margin: 0;
}
@keyframes casecard {
    100%    {   z-index: 2;
                transform: scale(1.01);
                background-color: var(--accentcolor);
                box-shadow: 2px 2px 6px var(--darkcolor);   
            }
}
.cases img:hover:not(.review) {
    animation-name: casecard;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes casecarddivreset {
    100%    {   filter: grayscale(0%) blur(0px) opacity(100%);    }
}
.cases:hover:not(.review) {
    animation-name: casecarddivreset;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
.review {
    height: 100%;
    margin: auto auto;
}
.review img:not(.whitepixel) {
    z-index: 1;
    margin: auto;
    margin-right: 0.6vw;
    width: 40%;
    border-radius: 50%;
}
.review div:not(.client-underline) {
    font-style: italic;
    margin: auto;
}
.review p {
    margin-top: 0.6vw;
    margin-bottom: 0;
}
@media screen and (min-width: 960px) and (max-width: 1300px) {
    .cases {
        flex: 33.3333333333%;
        max-width: 33.3333333333%;
    }
}
@media screen and (min-width: 768px) and (max-width: 960px) {
    .cases {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .cases {
        flex: 100%;
        max-width: 100%;
    }
}